.privacyPolicyContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 1.5rem;
  color: #555;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.list {
  padding-left: 20px;
}

.contact {
  font-weight: bold;
  color: #000;
}
